extends ../layout/layout.pug 
block content
    h1 create new book
    form(action="/books/create", method="POST", class="form-inline")
        lable title
        input(name="title",typr="text",class="form-control")
        lable description
        input(name="description" type="text",class="form-control")
        button(class="btn-primary ml-2") create
    a(href="/books",class="btn btn-dark") back