extends ../layout/layout.pug 
block content
    h1 list Users

    a(href="/users/create").btn.btn-primary.ml-4 add user

    table.table.ml-4
        tr 
            th Name
            th Edit
            th Delete
        each user in users
            tr
                th #{user.name} 
                th 
                    a(href="/users/edit/"+user.id) edit
                th
                    a(href="/users/delete/"+user.id) delete
                
                
                
        